{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        Welcome to Roots where you can find Spices!
{% endblock %}
{% block title %}
  Search
{% endblock %}
{% block content %}
    <div>
        <a class="text-center my_search_text">You have searched for : <b>"{{query}}"</b></a>
    </div>
    <div>
        <div class="row mx_auto">
            {% for product in products %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                    <div class="card column-center" style="min-width:20rem; height:30rem;">
                        <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" style="width:21rem; height:20rem;"></a>
                        <div class="card-body">
                            <h3>{{product.name}}</h3>
                            <p>
                               $ {{product.price}}
                            </p>
                        </div>
                    </div>
                </div><br>
        </div>
    </div>
    {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text">0 results found</p>
        </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            {% endfor %}
{% endblock %}
